menu "Build and debug options"

config MODULE_1
	bool "Module 1"
	help
	  1998 C++ standard as modified by the 2003 technical corrigendum
	  and some later defect reports.

config MODULE_2
	bool "Module 2"
	help
	  2011 C++ standard, previously known as C++0x.

endmenu